<div class="row">
  <div class="col-12">
      <h3 class="text-center">All Products</h3>
      <table class="table">
        <tr class="bg-dark text-light">
          <th>No.</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        <tr *ngIf="allProducts.length === 0">
          <td class="font-weight-bold text-center" colspan="5">No Products available</td>
        </tr>
        <tr *ngFor="let product of allProducts,let i = index" [id]="i+1" #productItem>
          <td>{{i+1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <div class="btn-group">
              <div class="btn btn-sm btn-warning px-3" (click)="viewProduct(+productItem.id)">Edit</div>
              <div class="btn btn-sm btn-danger" (click)="deleteProduct(+productItem.id)">Delete</div>
            </div>
          </td>
        </tr>
      </table>
  </div>
</div>
