<div class="container mt-3">
  <h2>Add Product</h2>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="prodName">Product Name</label>
          <input type="text" 
            class="form-control"
            [ngClass]="!productForm.get('prodName')!.valid && productForm.get('prodName')!.touched ? 'is-invalid':''"
            [ngClass]="productForm.get('prodName')!.valid  ? 'is-valid':''"
            formControlName="prodName">
            <span 
              *ngIf="!productForm.get('prodName')!.valid && productForm.get('prodName')!.touched"
              class="text-danger mt-1" #prodNameErr>Please Enter Product Name
            </span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="prodPrice">Price</label>
              <input type="number" 
                class="form-control"
                min="0"
                [ngClass]="(!productForm.get('prodPrice')!.valid && productForm.get('prodPrice')!.touched)? 'is-invalid':''"
                [ngClass]="productForm.get('prodPrice')!.valid ? 'is-valid':''"
                formControlName="prodPrice">
                <span 
                  *ngIf="!productForm.get('prodPrice')!.valid  && productForm.get('prodPrice')!.touched"
                  class="text-danger mt-1">Please Enter Product Price
                </span>
            </div>
            <div class="col-md-6">
              <label for="prodQuant">Quantity</label>
              <input 
                type="number" 
                class="form-control"
                min="1"
                [ngClass]="(!productForm.get('prodQuant')!.valid && productForm.get('prodQuant')!.touched)? 'is-invalid':''"
                [ngClass]="productForm.get('prodQuant')!.valid ? 'is-valid':''"
                formControlName="prodQuant">
              <span 
                *ngIf="!productForm.get('prodQuant')!.valid  && productForm.get('prodQuant')!.touched"
                class="text-danger mt-1">Please Enter Product Quantity
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block">Add</button>
          </div>
          <div class="col-md-6">
            <button type="reset" class="btn btn-danger btn-block" (click)="onReset()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>