<div class="container mt-3">
  <div class="row">
    <div [ngClass]="selectedProduct === undefined ?'col-12':'col-8'">
        <h3 class="text-center">All Products</h3>
        <table class="table">
          <tr class="bg-dark text-light">
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let product of allProducts,let i = index" [id]="i+1" #productItem>
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <div class="btn-group">
                <div class="btn btn-sm btn-info" (click)="displaySelected(+productItem.id)">View</div>
                <div class="btn btn-sm btn-warning">Edit</div>
                <div class="btn btn-sm btn-danger">Delete</div>
              </div>
            </td>
          </tr>
        </table>
    </div>
    <div *ngIf="selectedProduct !== undefined" class="col-4">
      <div class="shadow p-5 m-3 h-100">
        <h3 class="text-center">{{selectedProduct.name}}</h3>
        <p>Price: {{selectedProduct.price}}</p>
        <p>Quantity: {{selectedProduct.quantity}}</p>
      </div>
    </div>
  </div>
</div>
